<table>
    <tr>
        <td style="width: 50px;">
        </td>
        <td style="vertical-align: top">
            <div class="entity_profile">
                <span class="f1">Learn more about</span> <span class="f2">{{full_name}}</span><br />
                <span class="f3">Contact </span><span class="f4">{{full_name}}</span><span class="f3">
                    at: </span>
                <br />
                <span class="f5">EMAIL: </span><span class="f6">{{email}}</span>
                <br />
                <span class="f5">NUMBER: </span><span class="f6">+{{phone}}</span>
                <br />
                <span class="f5">ADDRESS: </span><span class="f6">
                    {{address}}
                </span>
            </div>
        </td>
        <td style="width: 50px;">
        </td>
        <td>
            <img style="width: 300px;" src="images/entity/{{name}}.jpg" />
        </td>
    </tr>
</table>
