a,li{cursor:pointer;}


body{font-family:'OpenSansRegular',sans-serif; margin:0 0 0 0; height:100%; background:#000000; font-weight:normal; }
.Main-bg{background-image: url(../images/overall.jpg); background-position:center 0px; }
header{min-width:1000px; width:100%; height:auto; position:fixed; margin-left:auto; margin-right:auto;top:-400px}
nav{color:#fff;}
h3{padding:0; margin:0;}
.fullContainer{background-position: center 0px; background-repeat: no-repeat;}
.fixContainer{width:978px; margin :0px auto 0px auto;}
section{position : relative; overflow:hidden;margin:0;padding:0}
section div{background-position: center 0px; background-repeat: no-repeat;}
#slider{right:0px; top:0px; position:absolute; z-index:10001;}
.fixContainer div{opacity:0.4;}
/*Background Effect end*/

/*Header*/
.MapNaviBar{min-width:1000px; width:100%; height:100%; background-color:#000; background-repeat:repeat-x;}
.MapNaviBar .MapNaviContent{ width:1000px; height:auto; margin-left:auto; margin-right:auto; color:#fff; font-size:12px; font-weight:bold; text-align:left; overflow:hidden; background-color:#000; list-style:none;}
.MapNaviBar .MapNaviContent ul { float:left; margin:0; padding:0; }
.MapNaviBar .MapNaviContent .MapNavi{color:#b3b3b3; font-weight:normal; border-right:solid #fff 1px; width:auto; height:40px; float:left; padding:23px 15px 10px 0; }
.MapNaviBar .MapNaviContent .option{height:30px; padding-left:20px; padding-right:20px; color:#fff;  list-style:none; float:left; padding-top:23px; text-align:center;}
.MapNaviBar .MapNaviContent .MapNaviLine{background:url(../images/map_navi_line.jpg) repeat-x; width:2px; height:61px; float:left; list-style:none; margin:0px; padding:0px; text-align:center;}
.MapNaviBar .MapNaviContent .option:hover, .MapNaviBar .MapNaviContent .selected{color:#af96ae; background: #50004d; /* Old browsers */
background: -moz-linear-gradient(top, #50004d 0%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#50004d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #50004d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #50004d 0%,#000000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #50004d 0%,#000000 100%); /* IE10+ */
background: linear-gradient(top, #50004d 0%,#000000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50004d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */}

.MapNaviBar .GlobelMap{min-width:1000px; width:100%; margin-left:auto; margin-right:auto; min-height:309px; height:auto; position:relative; background-color:#000;}
.MapNaviBar .GlobelMap .GlobelMapContent{ width:1000px; margin-left:auto; margin-right:auto; min-height:309px;  padding:0 0 20px 0; height:auto; position:relative; background-color:#000;}
.MapNaviBar .GlobelMap .GlobelMapContent .GlobelMapSelect{text-align:left; color:#999999;font-size:11px; font-weight:normal; position:absolute; left:0px; max-width:1000px;}
.MapNaviBar .GlobelMap .GlobelMapContent .GlobelMapSelect a {color:#999; font-size:12px;}
.MapNaviBar .GlobelMap .GlobelMapContent .GlobelMapSelect a:hover{color:#fde0b4;}
.GlobelTitle{color:#fff; font-weight:bold; font-size:12px;}

.Logo a { float:left; width:180px; height:90px; }
.LogoNavi{min-width:1000px; width:100%; height:auto; font-size:12px; font-weight:bold; background:url(../images/LogoNavi-bg.png) repeat-x; position:relative;}
.LogoNavi .Logo{background:url(../images/logo.png) no-repeat; width:220px; height:90px; left:0px; top:0px; z-index:100; position:absolute;}
.LogoNavi .LogoNaviContent{width:1000px; height:53px; margin-left:auto; margin-right:auto; font-size:13px; font-weight:bold; text-align:left; position:relative;}
.LogoNavi .LogoNaviContent .LogoNaviBar{width:780px; height:53px; left:180px; font-size:13px; font-weight:normal; text-align:left; position:absolute; z-index:90; border-bottom:#aeaeae 2px; left:220px;}
.LogoNavi .LogoNaviContent .LogoNaviBar ul { float:left; margin:0; padding:0; }
#logoContainer{background:url(../images/logo-repeat.png) repeat-x; height:88px; position:absolute;}
.headerFBGoogleLang{position:absolute; right:10px; top:-6px; z-index:100;}
.headerFBGoogleLang div{float:left;height:21px}
.headerFBGoogleLang .thirdPartyLogo{width:61px;margin:6px -20px 0px 0px;}
.headerFBGoogleLang .thirdPartyLogo div{float:left}
.thirdPartyLogo .logo{width:12px;height:11px;margin:6px 0px 0px 11px}
.headerFBGoogleLang  .fbContainer{width:56px;}
.headerFBGoogleLang  .birdContainer{width:52px;}
.thirdPartyLogo .fbEdge{background:url(../images/fbEdge.png) no-repeat 0 bottom;}
.thirdPartyLogo .fbLogo{background-color:#3b5998;}
.thirdPartyLogo .fbLogo .logo{background:url(../images/fbLogo.png) no-repeat 0 bottom;}
.thirdPartyLogo .birdEdge{background:url(../images/birdEdge.png) no-repeat 0 bottom;}
.thirdPartyLogo .birdLogo{background-color:#27b4e8;}
.thirdPartyLogo .birdLogo .logo{background:url(../images/birdLogo.png) no-repeat 0 bottom;}
.thirdPartyLogo .searchEdge{background:url(../images/searchEdge.png) no-repeat 0 bottom;}
.thirdPartyLogo .searchLogo{background:url(../images/searchBodyBg.png) repeat-x bottom center;color:#000000;font-size:9px;padding:6px 0px 0px 0px;height:15px;font-weight:normal}
.thirdPartyLogo .logoBody{width:70%}
.thirdPartyLogo .logoEdge{width:26%;}

.headerFBGoogleLang .LangBtn { background:url(../images/language-select.png) no-repeat; width:133px; color:#fff; font-size:10px; height:27px;}
  .LangBtn a {
    float:left;
    width:118px;
    height:27px;
    color:#fff;
    font-weight:normal;
    padding-left:13px;
    text-transform:uppercase;
  }
    .LangBtn a span { float:left; line-height:32px; }
    .LangBtn a .lang, .LangBtn a .country { margin-left:3px; }
    .LangBtn a .lang {
      background: url(../images/language-selected.png) top left no-repeat;
      width:17px;
      height:14px;
      text-align:center;
      margin-top:9px;
      line-height:14px;
    }
.LogoNavi .LogoNaviContent .option{cursor:pointer;float:left; list-style:none; text-align:center; padding:25px 10px 0 10px; height:25px; color:#fff;  list-style:none;}
.LogoNavi .LogoNaviContent .option span{color:#ffffff; padding:5px 10px 5px 10px; text-align:center; cursor:pointer;}
.LogoNavi .LogoNaviContent .divider{float:left; list-style:none; background:url(../images/logo_navi_line.jpg) no-repeat top left; width:2px; height:33px; margin-top:20px;}
.LogoNavi .LogoNaviContent .option:hover span, .LogoNaviContent .selected{background:#000 center; height:20px; border:none; -webkit-border-radius: 100px; -moz-border-radius: 100px; border-radius:100px; text-align:center;}

.TripNavi{width:1000px; margin:auto; height:auto; font-size:12px; position:relative;}
.TripPlanBtn{ width:188px; height:39px; margin-left:158px; top:0; text-align:left; font-weight:bold; font-size:12px;  float:left; position:inherit;}
.TripPlanBtn a { float:left; width:143px; height:32px; padding-left:45px; line-height:32px; color:#fff; background:url(../images/trip_planner_btn.png) no-repeat; font-size:11px; font-weight:bolder; }
.TripPlanBtn a.tripToggleArrowUp { background-position:bottom left; }
.TripPlanBtn .ToggleLabel{float:left;width:80px}
.TripCicle{ height:32px; width:25px; position:absolute; left:125px; font-size:12px; text-align:center; float:left}
.BookingBtn{ width:188px; height:39px; margin:0 0 0 -60px; top:0; text-align:left; font-weight:bold; font-size:12px;  float:left;}
.BookingBtn a { float:left; width:143px; height:32px; padding-left:67px; line-height:32px; color:#fff; background:url(../images/booking_btn.png) no-repeat; font-size:11px; font-weight:bolder; }
.BookingBtn a.tripToggleArrowUp { background-position:bottom left; }

.BookingBtnOverlap{
    position:absolute;
    left:365px;
    top:0px;
}
.BookingBtnOverlapText
{
    padding-left:50px;
}
.TripNavi .blockClick{
  position: absolute;
  width: 20px;
  height: 32px;
  left: 325px;
  z-index: 100;
}

/*Trip Planner*/
.TPBox{width:979px; height:513px; margin:auto; text-align:left;margin-top:-600px; background:url(../images/trip-planner-bg.jpg) top left no-repeat; }
.TPLeftBox{width:747px; height:476px; float:left;}
.TPRightBox{width:232px; height:476px; float:left;position:relative}
.TPBar{width:746px; height:34px; margin:0px; padding:6px 0 0 0; float:left;}
.TPBarName{width:170px; height:24px; margin:2px 10px 0 245px; padding:0 5px; border:0; background:0; color:#fff; font:11px 'Open Sans', Helvetica, Arial, sans-serif; float:left;}
.TPBarDay{width:102px; height:28px; margin:2px 0 0 0; padding:0 0 0 5px; background:none; border:none; color:#fff; font-size:11px; float:left; line-height:26px; }
.TPBarDay input {width:15px; height:23px; float:left; background:transparent; margin:0 0 0 5px; color:#fff; border:none; font:11px 'Open Sans', Helvetica, Arial, sans-serif; line-height:23px; }
.TPBarDayUp{width:20px; height:22px; background:url(../images/up.gif) no-repeat; margin-left:8px; margin-top:2px;  float: left;}
.TPBarDayDown{width:20px; height:22px; background:url(../images/down.gif) no-repeat; margin-left:-1px; margin-top:2px;  float: left;}
.TPBarArrive{width:154px; height:24px; margin:0 0 0 28px; padding:5px 0 0 5px; border:0; color:#fff; font-size:11px; float:left; background:none; }
.TPBarArrive img{border:0px; margin:0 5px 0 0; float:right;}
.TPBarArrive input{width:60px; height:17px; color:#fff; margin:0 0 0 3px; border:none; background:transparent; font:11px 'Open Sans', Helvetica, Arial, sans-serif;}
.TPList{width:239px; height:436px; float:left; /*background-color:#fff;*/ }
.TPListSBar{width:9px; height:305px; float:left;margin-top:85px}
.TPList ul{padding:0 0 0 0; margin:0px; width:239px; float:left; background-color:#fff; text-align:left; list-style:none; }
.TPList .Todolist, .TPList .OurPick { float:left; height:40px; color:#fff; font-size:11px; padding-left:32px;  line-height:35px; }
.TPList .Todolist { width:87px; background:url(../images/to-do-list.jpg) top right no-repeat; }
.TPList .OurPick { width:88px; background:url(../images/our-pick.jpg) top left no-repeat; }
#tabselect .OurPick-set{ color:#982626; background:url(../images/our-pick-selected.jpg) top left no-repeat; }
#tabselect .Todolist-set{ color:#982626; background:url(../images/to-do-list-selected.jpg) top right no-repeat; }

#pickOrRecommendation{height:auto}
.TPListGal{overflow: hidden;width: 235px;height:396px;}
.TPListGal ul{padding:0 0 0 4px; margin:0px; width:227px; background-color:#fff; height:396px;}
.TPList .TPListGal li, #dragTemp li{ width:103px; height:128px; float:left; margin:0 0 5px 0; padding:4px 3px; background-color:#fff; background-image:none; color:#000; position:relative; border:1px solid #fff; overflow:hidden; }
#dragTemp li .item-detail, #dragTemp li .item-detail-action{display:none}

.TPList .TPListGal li:hover { border:1px solid #bfbfbf; }
.TPList .TPListGal li:hover .Opacity { opacity:0.5; filter:alpha(opacity=50); }
/*.TPList .TPListGal li:hover .Opacity{margin:0 4px 0 0; width:100px; height:122px; float:left; margin-bottom:5px; padding:4px 2px 0 2px; border:1px #bebebe solid; opacity:0.5; filter:alpha(opacity=50);}*/
.TPList .TPListGal li:hover .Add{width:75px; height:32px; position:absolute; z-index:80; left:17px; top:15px;}
  .TPList .TPListGal .ourpick-listing li:hover .Add { top:30px; }
.TPList .TPListGal li:hover .Remove{width:75px; height:32px; position:absolute; z-index:80; left:17px; top:50px;}
.TPList .TPListGal li p{color:#000; font-size:12px; margin-top:0px; padding:0 0 0 0;}
.TPPlan{width:507px; height:436px; float:left; /*background:url(../images/tp-plan-bg.jpg);*/ }
.TPPlan p { width:30px; height:35px; float:left; margin:0 10px 0 10px; font-size:12px; font-weight:bold; color:#fff; line-height:37px;}
.TPPlanDay{width:450px; height:29px; color:#fff; font-size:12px; font-weight:bold; padding-top:6px; float:left;}
.TPPlanDayBtnAc{width:24px; height:24px; float:left; margin-right:5px; }
#tripListcontainer { float:left; width:268px; }
.TPPlanList{width:270px; max-height:401px; border:dotted 1px #fff #4b4c50 #fff #4b4c50; float:left;  overflow:hidden;}
.TPPlanList ul{margin:0px 0px 0px 7px; padding:0; float:left;}
.TPPlanList li { width:247px; height:125px; padding:2px 5px 0 1px; background:url(../images/trip-planner-added-bg.jpg) top left no-repeat; list-style:none; font-size:12px; color:#fff; margin-left:0px; }
  .TPPlanList li.default { width:243px; height:122px; padding:5px 5px 0 5px; }
  .TPPlanList li.first { color:#c8c8c8; padding:19px 5px 0 19px; width:228px; height:103px; font-size:16px; font-weight:lighter; }
  .TPPlanList li.last { background:url(../images/trip-planner-added-last-bg.png) top left no-repeat; }
.TPPlan-PlaceBtn { background-color:#ff0000; color:#fff; font-size:10px; float:left; padding:0 8px; line-height:18px; height:18px; text-align:center;  text-transform:uppercase; }
.TPPlan-PlaceName{color:#fff; font-size:11px; width:52px; height:17px; text-align:center; margin-top:-5px; margin-left:10px;}
.TPPlan-PlaceArrow{font-size:11px; width:10px; height:70px; margin:0 10px; background:url(../images/TPPlan-PlaceArrow.png) no-repeat center; float:left; }
.TPPlan-MoveDay{width:125px; height:23px; background:url(../images/TPPlan-MoveDay.png) no-repeat right; float:left;  font-size:12px; padding:7px 0 0 15px; overflow:hidden;}
.TPPlan-MoveDay select{width:115px; height:17px; background-color:#313133;  border:none; color:#fff;}
.TPPlan-MoveDay .Arrow{width:25px; height:27px; background:url(../images/TPPlan-MoveDay-arrow.png) no-repeat; position:absolute; z-index:40; left:110px; top:3px;}
.TPPlan-Remove { width:78px; height:30px; background:url(../images/TPPlan-Remove.png) no-repeat right; float:left; color:#fff; font-size:12px; padding:0 25px 0 0;  margin-right:5px; line-height:30px; text-align:right; }
  .TPPlan-Remove:hover { color:#FF8200; }
.TPPlanSBar{ /*background:url(../images/tp-plan-line.jpg) no-repeat center center;*/ width:7px; height:314px; float:left;margin-top:80px}
.TPPlanListDes{width:216px !important; height:395px; float:left; font-size:12px; color:#ccc; margin:0px 4px 0px 4px;}
  .TPPlanListDes .tp-description, .TPPlanListDes .tp-contact, .TPPlanListDes .tp-nearby { float:left; width:196px; border-bottom:1px solid #3e3f44; padding:0 14px; clear:both; }
    .TPPlanListDes .tp-description h1 { float:left; margin:8px 0 14px 0; font-size:18px; font-weight:normal; color:#fff; }
    .TPPlanListDes p { float:left; width:196px; margin:0 0 15px 0; font-weight:normal; font-size:12px; line-height:1.2em; clear:both; height:auto; color:#ccc; text-align:justify; }
    .TPPlanListDes .tp-contact h2, .TPPlanListDes .tp-nearby h2 { color:#fff; float:left; width:196px; margin:10px 0 10px 0; font-weight:normal; font-size:16px; line-height:1.2em; }
  .TPPlanListDes a{color:#ccc;}
.TPPlanListDesSBar{width:10px; height:305px; float:left; margin-top:80px; }

.TPMap{width:232px; height:476px; float:left; position:relative;}
.ExpendMapBtn{width:150px; height:31px;  position:absolute; z-index:99; right:5px; top:2px;}
.CloseMapBtn{width:150px; height:31px;  margin:2px 0 0 77px;}
.TPMapPopout{width:738px; height:476px; position:absolute; z-index:1000; right:1px; top:0px;}
.TPMap-Top-RepBg{background:url(../images/Bar_bg_TP.jpg) repeat-x; width:231px; height:40px; float:right; }
.TPMapPopout .Close{width:25px; height:40px; position:absolute; z-index:900; right:-25px; top:39px; background:url(../images/TPMap_close-pop.png) no-repeat; }
.TPRightBox nav{width:231px; height:150px;}
.TPRightBox nav .NavTitle { width:231px; height:35px; background:url(../images/TP-right-nav_01.jpg) no-repeat; position:relative;}
  .TPRightBox nav .NavTitle:hover { background:#fff; }
.TPRightBox nav .NavTitle input{ background:transparent; color:#612a2f; float:left; width:232px; border:0; height:32px; position:absolute; top:0; left:0;  }
  .TPRightBox nav .NavTitle:hover input { color:#fff; } 
.TPRightBox nav .NavTitle .background { background:url(../images/whats-on-icon.png) 18px 0 no-repeat; float:left; width:188px; height:35px; position:absolute; top:0; left:0; padding-left:43px; line-height:36px; font-size:14px; font-weight:bold; color:#fff; }
  .TPRightBox nav .NavTitle:hover .background { background:url(../images/whats-on-icon.png) 18px -35px no-repeat; color:#999; }

.TPRightBox nav .NavTitle img{position:absolute; left:15px; top:7px; }
.TPRightBox nav .NavMore { width:214px; height:26px; font-size:14px; color:#fff; padding-left:18px; line-height:26px; font-weight:bold; }
.TPRightBox nav .Nav { width:232px; height:27px; font-size:12px; color:#c8c8c8;  line-height:26px; border-bottom:1px solid #494b51; }
  .TPRightBox nav .Nav.last { border-bottom:0; }
  .TPRightBox nav .Nav a { width:196px; color:#c8c8c8; padding:0 0 0 18px; border-bottom:1px solid #27282d; }
    .TPRightBox nav .Nav a:hover { color:#fff; text-decoration:underline; }
  .TPRightBox nav .Nav.last a { border-bottom:0; }
#TPDescriptionBarId{overflow:hidden;float:left;height:391px;width:234px;}

.TPBottomBox{width:979px; height:37px; background:url(../images/trip-planner-bottom-bg.png) top left no-repeat; /*background-color:#000; -webkit-border-bottom-right-radius: 20px; -webkit-border-bottom-left-radius: 20px; -moz-border-radius-bottomright: 20px; -moz-border-radius-bottomleft: 20px; border-bottom-right-radius: 20px; border-bottom-left-radius: 20px;*/ }
.TPRetrive{width:158px; height:26px; background:url(../images/SavedGuides.jpg) no-repeat;  float:left; margin:5px 0 0 15px; position:relative;}
.TPSavedGuides{width:158px; height:26px;  float:left;}
  .TPSavedGuides a {width:128px; height:26px;  float:left; background:url(../images/SavedGuides.jpg) top left no-repeat; padding-left:30px; color:#fff; font-size:11px; line-height:26px; }
    .TPSavedGuides a:hover { text-decoration:underline; }
.TPRetrive .Email {width:255px; height:90px; background:url(../images/Retrieve-pop-bg.gif) repeat; position:absolute; z-index:500; left:-15px; top:-115px;  color:#fff; font-size:12px; padding:20px 18px 0 18px;}
.TPRetrive .Email .Close{background:url(../images/TPSavedGuides-pop-close.png) no-repeat; width:12px; height:11px; margin:-13px 0 10px 255px; }
.TPRetrive .Email input {width:170px; height:15px; float:left; margin:10px 0 0 0; border:2px solid #fff;; background:#fff; }
.TPRetrive .Email .Submit {width:69px; height:25px; float:left; margin:10px 0 0 10px; }
.TPRetrive .SavedGuide {width:273px; height:280px; background:url(../images/Retrieve-pop-bg.gif) repeat; position:absolute; z-index:500; left:-15px; top:-305px; color:#fff; font-size:12px; padding:20px 0 0 18px; overflow:hidden; }
.TPRetrive .SavedGuide .Close{background:url(../images/TPSavedGuides-pop-close.png) no-repeat; width:12px; height:11px; margin:-13px 0 0 255px; }
.TPRetrive .SavedGuide span{color:#fff; font-size:12px; font-weight:bold;}
.TPRetrive .SavedGuide .Content{width:266px; height:230px; }
.TPRetrive .SavedGuide .Content ul{width:253px; /*height:230px;*/ margin:10px 0 0 0; padding:0 0 0 0; list-style:none; color:#fff; font-size:12px; font-weight:normal; float:left; overflow:hidden;}
.TPRetrive .SavedGuide .Content ul li{ width:230px; height:auto; margin:0 0 5px 0; padding:10px; list-style:none; background:#373737; opacity:0.7; filter:alpha(opacity=70); float:left; }
  .TPRetrive .SavedGuide .Content ul li div { float:left; width:209px; }
  .TPRetrive .SavedGuide .Content ul li div:hover { font-weight:bold; color:#ff8200; }
.TPRetrive .SavedGuide .Content ul li .Close{ background:url(../images/TPSavedGuides-li-close.png) no-repeat; width:11px; height:10px; margin:0 0 0 5px; }
.TPRetrive .SavedGuide .Content ul li span{color:#8c8c8c; font-size:11px; font-weight:normal; float:left; clear:both; font-style:italic; width: 100% }
.TPRetrive .SavedGuide .ScrollBar {width:8px !important; height:190px !important; float:left; }
  .TPRetrive .SavedGuide .ScrollBar #savedTripItem { width:8px !important; float:left; }
.TPRetrive .SavedGuide .ChangeEmail{width:130px; height:25px; margin:10px 0 0 0; padding:0 0 10px 0; color:#fff; font-size:11px;  float:left; }
.TPRetrive .SavedGuide .ChangeEmail span { color:red; }
.TPRetrive .SavedGuide .ChangeEmail a { color:white; border-bottom: 1px dotted #777; display: inline;}
#retrieveTripBar a {background-color:white;border:none;width:10px}
#retrieveTripBar div {border:none;width:10px}
.TPBottomRight{width:275px; height:28px; float:right; margin:5px 15px 0 0;}
.TPBottomSave{width:81px; height:28px; float:left; }
.TPBottomPrint{width:121px; height:28px; float:left; }
.TPBottomMail{width:25px; height:28px; float:left; background:url(../images/TPBottomRight_03.jpg) no-repeat; }
.TPBottomFB{width:23px; height:28px; float:left; background:url(../images/TPBottomRight_04.jpg) no-repeat; }
.TPBottomTwi{width:22px; height:28px; float:left; background:url(../images/TPBottomRight_05.jpg) no-repeat; }
.BYTBox{display:none;}

/*Pop out Message*/
.MsgContainer{width:380px; height:160px; background:#fff url(../images/Msg-Pop-Bg.jpg) no-repeat; position:absolute; z-index:30000;}
.MsgContainer .Close{width:11px; height:12px; background:url(../images/Msg-Pop-Close.png) no-repeat; margin:6px 0 0 362px;  }
.MsgContainer .Content{width:360px; height:90px; margin:10px auto 0 auto; color:#000; font-size:12px; text-align:left;}
.MsgContainer .Content h2{margin:0 0 6px 0;}
.MsgContainer .Button{width:350px; height:30px; margin:10px auto 0 auto;}
.MsgContainer .Button .Agree{width:81px; height:27px; margin:10px 10px 0 auto; float:left; }
.MsgContainer .Button .Disagree{width:81px; height:27px; margin:10px auto 0 auto; float:left; }
.MsgContainer .save {width:79px; height:27px; margin:0; float:left;  margin:10px 0 0 150px;}
.MsgContainer .update {width:79px; height:27px; margin:0; float:left;  margin:10px 0 0 150px;}
.MsgContainer .print {width:80px; height:27px; margin:0; float:left;  margin:10px 0 0 150px;}
.MsgContainer .close-btn{width:78px; height:25px; margin:0;  margin:10px 0 0 150px;}

.MsgExtend{width:380px; height:360px; background:#fff; position:absolute; z-index:30000;}
.MsgExtend .Close{width:11px; height:12px; background:url(../images/Msg-Pop-Close.png) no-repeat; margin:6px 0 0 362px;  }
.MsgExtend .Content{width:350px; height:280px; margin:10px auto 0 auto; color:#000; font-size:12px; text-align:left;}
.MsgExtend .Content .ErrorContent{font-size:14px;padding:10px 0px 10px 0px}
.MsgExtend .Button{width:320px; height:30px; margin:10px auto 0 auto;}
.MsgExtend .Button .Agree{width:81px; height:27px; margin:10px 10px 0 auto; float:left; }
.MsgExtend .Button .Disagree{width:81px; height:27px; margin:10px auto 0 auto; float:left; }
.MsgExtend .save {width:79px; height:27px; margin:0; float:left;  margin:10px 0 0 150px;}
.MsgExtend .update {width:79px; height:27px; margin:0; float:left;  margin:10px 0 0 150px;}
.MsgExtend .print {width:80px; height:27px; margin:0; float:left;  margin:10px 0 0 150px;}
.MsgExtend .close-btn{width:78px; height:25px; margin:0;  margin:10px 0 0 150px;}
.MsgExtend .email{width:69px; height:25px; margin:0;  margin:10px 0 0 150px;}

/*After Drag*/
#pickOrRecommendation .layout-item-detail {width:auto; height:120px; }
#pickOrRecommendation .item-detail-thumbnail {width:101px; height:85px; z-index:20; border:1px solid #999; margin-bottom:5px; }
#pickOrRecommendation .item-detail {width:auto; height:100px; float:left; display:none;}
#pickOrRecommendation .item-detail-nameinfo {width:auto; height:100px; float:left;}
#pickOrRecommendation .item-detail-name {padding-left:5px; width:75px; height:18px;  float:left;}
#pickOrRecommendation .item-detail-info {padding:5px 5px 5px 5px; width:70px; height:70px;  float:left;}
#pickOrRecommendation .item-detail-action {width:auto; height:26px; float:left; display:none; background-color:rgba(0, 0, 0, 0.4);}
#pickOrRecommendation .item-detail-actioninfo {width:auto; height:24px; float:left; }
#pickOrRecommendation .item-detail-info-bottom, #dragTemp .item-detail-info-bottom{width:auto; height:26px;  float:left; display:block; font-size:11px;}
#tripList .layout-item-detail { width:248px; height:127px; overflow:hidden; padding:0; }
#tripList .item-detail-thumbnail {width:101px; height:88px; padding:3px 6px 3px 3px; float:left;}
#tripList .item-detail {width:138px; height:88px; float:left; }
#tripList .item-detail-nameinfo {width:108px; height:70px; float:left; display:table;}
  #tripList .item-detail-nameinfo:hover { color:#ff8200; } 
#tripList .item-detail-name {float:left;}
#tripList .item-detail-info { width:108px; height:70px; display:table-cell; vertical-align:middle; font-size:14px; line-height:1.2em; }
#tripList .item-detail-action {width:248px; height:31px; float:left; margin-bottom:1px; background:#1b1c1f; }
#tripList .item-detail-actioninfo {width:97px; height:24px; float:left;}
#tripList .item-detail-info-bottom {width:198px; height:26px; float:left; display:none;}
.item-detail-action .selectbox-wrapper { margin-top:5px !important; }
  .item-detail-action .selectbox-wrapper, .item-detail-action .selectbox-wrapper ul, .item-detail-action .selectbox-wrapper li { width:127px !important; }
.moreDescription-default { float:left; width:182px; font-size:11px; color:#c8c8c8; padding-left:37px; background:url(../images/trip-planner-add.png)  9px 0 no-repeat; line-height:1.3em; font-weight:lighter; margin-left:5px; }

#ui-datepicker-div.whats-on {
  background:#fff;
  width:276px;
  /*height:226px;*/
  padding:28px;
  font-family: 'OpenSans',Helvetica, Arial, sans-serif;
  font-weight:lighter;
}
  #ui-datepicker-div.whats-on .ui-datepicker-header { border-radius:none; border:0 !important; font-size:13px; font-weight:lighter; color:#a8a8a8; border-bottom:1px solid #d6d6d6 !important; }
  #ui-datepicker-div.whats-on .ui-widget-header { background:none; }
  #ui-datepicker-div.whats-on .ui-datepicker-month { text-transform:uppercase; color:#565656; }
  #ui-datepicker-div.whats-on .ui-corner-all { border-radius:none; border:0; }
  #ui-datepicker-div.whats-on .ui-widget-header .ui-icon { background:url(../images/calendar-arrow-left.png) top left no-repeat; margin-top:-2px; width:5px; height:10px;}
  #ui-datepicker-div.whats-on .ui-datepicker-prev span, #ui-datepicker-div.whats-on .ui-datepicker-next span {
    width:5px;
    height:10px;
  }
   #ui-datepicker-div.whats-on .ui-datepicker-prev-hover, #ui-datepicker-div.whats-on .ui-datepicker-next-hover  { top:2px !important; }
    #ui-datepicker-div.whats-on .ui-datepicker-prev-hover { left:2px !important; }
    #ui-datepicker-div.whats-on .ui-datepicker-next-hover { right:2px !important; }
    #ui-datepicker-div.whats-on .ui-datepicker-next span { background-position:top right !important; margin-left:5px; }
    #ui-datepicker-div.whats-on .ui-datepicker-prev-hover span { background-position:bottom left !important; }
    #ui-datepicker-div.whats-on .ui-datepicker-next-hover span { background-position:bottom right !important; }
    #ui-datepicker-div.whats-on th { color:#a8a8a8; font-size:13px; text-transform:uppercase; font-weight:lighter; width:39px; padding-left:5px; padding-right:5px; }
    #ui-datepicker-div.whats-on td { padding-left:5px; padding-right:5px; width:28px; border:0; text-align:center; }
    #ui-datepicker-div.whats-on .ui-state-default, #ui-datepicker-div.whats-on .ui-state-default, #ui-datepicker-div.whats-on .ui-widget-header .ui-state-default { background:none; height:28px; width:28px; text-align:center; padding:0; line-height:28px; font-size:13px; font-weight:lighter; color:#565656; }
    #ui-datepicker-div.whats-on .ui-state-default, #ui-datepicker-div.whats-on .ui-state-default, #ui-datepicker-div.whats-on .ui-widget-header .ui-state-default { border:1px solid #fff; }
        #ui-datepicker-div.whats-on .ui-state-highlight, #ui-datepicker-div.whats-on .ui-widget-content .ui-state-highlight, #ui-datepicker-div.whats-on .ui-widget-header .ui-state-highlight { background:none; color:#6a9113;  }
        #ui-datepicker-div.whats-on a.ui-state-default:hover { border:1px solid #a8a8a8; }
        #ui-datepicker-div.whats-on a.ui-state-highlight { border:1px solid #6a9113; }
        
        
#ui-datepicker-div.arriving-date {
  background:#141517;
  font-family: 'OpenSans',Helvetica, Arial, sans-serif;
  font-weight:lighter;
  border-radius:none;
  border-color:#303237;
  width:224px;
}
  #ui-datepicker-div.arriving-date .ui-datepicker-header { border-radius:0 !important; border:0 !important; font-size:13px; font-weight:lighter; color:#a8a8a8; border-bottom:1px solid #535359 !important; }
  #ui-datepicker-div.arriving-date .ui-widget-header { background:none;  }
  #ui-datepicker-div.arriving-date .ui-widget-header select { border:1px solid #141517; }

  #ui-datepicker-div.arriving-date .ui-datepicker-month { text-transform:uppercase; color:#565656; }
  #ui-datepicker-div.arriving-date .ui-corner-all { border-radius:none; border:0; }
  #ui-datepicker-div.arriving-date .ui-widget-header .ui-icon { background:url(../images/calendar-arrow-left.png) top left no-repeat; margin-top:-5px; width:5px; height:10px;}
  #ui-datepicker-div.arriving-date .ui-datepicker-prev span, #ui-datepicker-div.arriving-date .ui-datepicker-next span {
    width:5px;
    height:10px;
  }
     #ui-datepicker-div.arriving-date .ui-datepicker-prev-hover, #ui-datepicker-div.arriving-date .ui-datepicker-next-hover  { top:2px !important; }
    #ui-datepicker-div.arriving-date .ui-datepicker-prev-hover { left:2px !important; }
    #ui-datepicker-div.arriving-date .ui-datepicker-next-hover { right:2px !important; }
    #ui-datepicker-div.arriving-date .ui-datepicker-next span { background-position:top right !important; margin-left:5px; }
    #ui-datepicker-div.arriving-date .ui-datepicker-prev-hover span { background-position:bottom left !important; }
    #ui-datepicker-div.arriving-date .ui-datepicker-next-hover span { background-position:bottom right !important; }
  
    #ui-datepicker-div.arriving-date th { color:#c8c8c8; font-size:11px; text-transform:uppercase; font-weight:lighter; width:39px; padding-left:5px; padding-right:5px; }
    #ui-datepicker-div.arriving-date td { border:0; text-align:center; }
    #ui-datepicker-div.arriving-date .ui-state-default, #ui-datepicker-div.arriving-date .ui-state-default, #ui-datepicker-div.arriving-date .ui-widget-header .ui-state-default { background:none; text-align:center; padding:0; width:28px; line-height:28px; font-size:11px; font-weight:lighter; color:#565656; }
    #ui-datepicker-div.arriving-date .ui-state-default, #ui-datepicker-div.arriving-date .ui-state-default, #ui-datepicker-div.arriving-date .ui-widget-header .ui-state-default { border:1px solid #303237; }
        #ui-datepicker-div.arriving-date .ui-state-highlight, #ui-datepicker-div.arriving-date .ui-widget-content .ui-state-highlight, #ui-datepicker-div.arriving-date .ui-widget-header .ui-state-highlight { background:none; color:#6a9113;  }
        #ui-datepicker-div.arriving-date a.ui-state-default:hover { border:1px solid #a8a8a8; color:#a8a8a8; }
        #ui-datepicker-div.arriving-date a.ui-state-highlight { border:1px solid #6a9113; }
  
.transparent {
	zoom: 1;
	filter: alpha(opacity=0);
	opacity: 0;
}
    
.beta {
  position:fixed;
  top:0;
  right:0;
  width:55px;
  height:50px;
  z-index:50000;
  background:url(../images/beta.png) top left no-repeat;
}


/* trip panel scroll style */
#trip-planner .jspDrag:hover{background:none repeat scroll 0 0 #000000}

/* ext */
#tripPlannerContent{min-width:250px; min-height:390px;float:none;}
